<div>
  <table mat-table [dataSource]="pokemonList" class="mat-elevation-z8">
  
    <ng-container matColumnDef="rowNumber">
      <th mat-header-cell *matHeaderCellDef> # </th>
      <td mat-cell *matCellDef="let element; let i = index"> {{i+1}} </td>
    </ng-container>
  
    <ng-container matColumnDef="IDDB">
      <th mat-header-cell *matHeaderCellDef> IDDB </th>
      <td mat-cell *matCellDef="let element; let i = index"> {{element.id}} </td>
    </ng-container>
  
    <ng-container matColumnDef="PokedexIndex">
      <th mat-header-cell *matHeaderCellDef> Pokedex </th>
      <td mat-cell *matCellDef="let element"> {{element.idRegistro}} </td>
    </ng-container>
  
    <ng-container matColumnDef="Nombre">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>