<div class="container">
  <div class="lateral-bar">
    <div class="lateral-bar-option">
      <button [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['pokemonList']">
        New R
      </button>
    </div>
    <div class="lateral-bar-option">
      <button [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['pokemonListCreate']">
        New C
      </button>
    </div>
    <div class="lateral-bar-option">
      <button [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['availableOnGameCreate']">
        Ava C
      </button>
    </div>
    <div class="lateral-bar-option">
      <button [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['availableOnGame']">
        Ava R
      </button>
    </div>
    <div class="lateral-bar-option">
      <button [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['registered']">
        Use
      </button>
    </div>
  </div>
  <div class="data-container">
    <router-outlet></router-outlet>
  </div>
</div>
