.example-card {
    max-width: 300px;
}
.mat-card {
    background: #424242;
    color: #fff;
}
.mat-card-sm-image {
    object-fit: contain;
    width: 50px;
    height: 50px;
}
.inputEvolutionFrom {
    background-color: #424242;
    width: 40px;
}
